---
import Layout from "@layouts/Base.astro";

if (!Astro.locals.session) {
	// Redirect to login page if the user is not authenticated
	return Astro.redirect(`/login?returnUrl=${encodeURIComponent(Astro.url.pathname)}`);
}

export const prerender = false;
---

<Layout>
	<h1>My Notes</h1>
</Layout>
