---
import Layout from "@layouts/Base.astro";

export const prerender = true;
---

<Layout>
    <main class="u-guttered">
        <h1>Astro MPA example</h1>
        <p>
            This is a simple example of an MPA with built with Astro,
            Better-Auth, and Cloudflare D1.
        </p>
        <p>
            (This is a static marketing page; click "Go to app" to log in to the
            app)
        </p>
        <p><a href="/app/">Go to app</a></p>
    </main>
</Layout>
