---
import Layout from "@layouts/Base.astro";

export const prerender = true;
---

<Layout>
    <main class="u-guttered l-column">
        <h1>Login</h1>
        <form id="signin-form" class="l-column">
            <label>
                Email
                <input type="email" name="email" placeholder="Email" required />
            </label>
            <label>
                Password
                <input
                    required
                    type="password"
                    name="password"
                    placeholder="Password"
                />
            </label>
            <div id="error" class="u-error" aria-live="polite"></div>
            <button type="submit">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/register">Sign up here</a>.</p>
    </main>
</Layout>

<script>
    import { authClient } from "@utils/client/auth-client";

    const error = document.getElementById("error") as HTMLDivElement;
    const form = document.getElementById("signin-form") as HTMLFormElement;

    const submitButton = form.querySelector("button") as HTMLButtonElement;

    form.addEventListener("submit", async (event) => {
            if (submitButton.hasAttribute('aria-disabled')) return;

            event.preventDefault();
            error.innerText = "";
            submitButton.setAttribute('aria-disabled', 'true');
            submitButton.setAttribute('aria-label', 'Loading');

            const email = form.email.value;
            const password = form.password.value;
            const tmp = await authClient.signIn.email({
                email,
                password,
            });
            
            submitButton.removeAttribute('aria-disabled');
            submitButton.removeAttribute('aria-label');

            if (!tmp.error) {
                window.location.href = "/app/";
            } else {
                const { code, message, status, statusText } = tmp.error;
                error.innerText = `[${code}] ${message} (${status} ${statusText})`;
            }
        });
</script>
