---
import Layout from "@layouts/Base.astro";

export const prerender = true;
---

<Layout>
    <main class="u-guttered l-column">
        <h1>Register</h1>
        <form id="signup-form" class="l-column">
            <label>
                Name
                <input
                    type="text"
                    name="fullname"
                    placeholder="Name"
                    required
                />
            </label>
            <label>
                Email
                <input type="email" name="email" placeholder="Email" required />
            </label>
            <label>
                Password
                <input
                    required
                    type="password"
                    name="password"
                    placeholder="Password"
                />
            </label>
            <div id="error" class="u-error" aria-live="polite"></div>
            <button type="submit">Sign up</button>
        </form>
        <p>Already have an account? <a href="/login">Sign in here</a>.</p>
    </main>
</Layout>

<script>
    import { authClient } from "@utils/client/auth-client";

    const error = document.getElementById("error") as HTMLDivElement;
    const form = document.getElementById("signup-form") as HTMLFormElement;

    const submitButton = form.querySelector("button") as HTMLButtonElement;

    form.addEventListener("submit", async (event) => {
            if (submitButton.hasAttribute('aria-disabled')) return;

            event.preventDefault();
            error.innerText = "";
            submitButton.setAttribute('aria-disabled', 'true');
            
            const name = form.fullname.value;
            const email = form.email.value;
            const password = form.password.value;
            const result = await authClient.signUp.email({
                name,
                email,
                password,
            });

            submitButton.removeAttribute('aria-disabled');
            submitButton.removeAttribute('aria-label');

            if (!result.error) {
                window.location.href = "/app/";
            } else {
                const { code, message, status, statusText } = result.error;
                error.innerText = `[${code}] ${message} (${status} ${statusText})`;
            }
        });
</script>
