---
import Layout from "@layouts/Base.astro";

if (!Astro.locals.session) {
	// Redirect to login page if the user is not authenticated
	return Astro.redirect(
		// `/login?returnUrl=${encodeURIComponent(Astro.url.pathname)}`,
		`/app/login`,
	);
}
---

<Layout>
	<h1>My Notes</h1>
	{JSON.stringify(Astro.locals.user)}
	<button id="signOutButton">Sign Out</button>
</Layout>

<script>
	import { authClient } from "@utils/client/auth-client";
	document
		.getElementById("signOutButton")
		?.addEventListener("click", async () => {
			await authClient.signOut();
			window.location.href = "/app/login";
		});
</script>
