---
import Layout from "@layouts/Base.astro";

const session = Astro.locals.session!;
---

<Layout>
	<main class="u-guttered">
		<h1>Home</h1>
		<ul>
			{
				Object.entries(session).map(([key, value]) => (
					<li>
						{key}: {JSON.stringify(value)}
					</li>
				))
			}
		</ul>
		<button id="signOutButton">Sign Out</button>
	</main>
</Layout>

<script>
	import { authClient } from "@utils/client/auth-client";
	document
		.getElementById("signOutButton")
		?.addEventListener("click", async () => {
			await authClient.signOut();
			window.location.href = "/login";
		});
</script>
